<%= form_with(model: round, html: {multipart: true}) do |form| %>
  <% if round.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
        <% round.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div>
  <%= form.label :user_id, "Golfer", style: "display: block" %>
  <%= form.collection_select :user_id, User.all, :id, :name, prompt: "Select a User" %>
</div>


  <div>
    <%= form.label :course_id, "Course" %>
    <%= form.collection_select :course_id, Course.all, :id, :name, prompt: "Select a Course" %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :strokes, style: "display: block" %>
    <%= form.number_field :strokes %>
  </div>

  <div>
    <%= form.label :photos, "Upload Photos"%>
    <%= form.file_field :photos, multiple: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
