<div id="<%= dom_id round %>">
  <p>
    <strong>Golfer:</strong>
    <%= round.user&.name || "No user assigned" %>

  </p>

  <p>
    <strong>Course:</strong>
    <%= round.course.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= round.date %>
  </p>

  <p>
    <strong>Strokes:</strong>
    <%= round.strokes %>
  </p>

  <p>
    <strong>To par:</strong>
    <%= round.to_par%>
  </p>

</div>
