<div id="<%= dom_id round %>">
  <p>
    <strong>Golfer:</strong>
    <%= round.user&.name || "No user assigned" %>

  </p>

  <p>
    <strong>Course:</strong>
    <%= round.course.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= round.date %>
  </p>

  <p>
    <strong>Strokes:</strong>
    <%= round.strokes %>
  </p>

  <p>
    <strong>To par:</strong>
    <%= round.to_par%>
  </p>

  <% if round.photos.attached? %>
  <h3>Photos:</h3>
  <% round.photos.each do |photo| %>
    <%= image_tag photo, style: "max-width: 300px; height: auto; margin: 10px;" %>
  <% end %>
<% else %>
  <p>No photos uploaded for this round.</p>
<% end %>

</div>
